@import "tailwindcss";

/* HamburgerIcon.css */

@layer components {
  .line1 {
    @apply w-18 h-[0.15rem] rounded bg-black transition-all duration-300 ease-in-out;
  }
  .line2 {
    @apply w-18 h-[0.15rem] mt-2 rounded bg-black transition-all duration-300 ease-in-out;
  }
}

.hamburger-icon {
    width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger-icon.open .line1:first-child {
  transform: translateY(5px) rotate(45deg);
  width: 2.5rem;
  transition: all 0.3s linear;
}

.hamburger-icon.open .line2:last-child {
  transform: translateY(-5px) rotate(-45deg);
 width: 2.5rem;
  transition: all 0.3s linear;
}


.glass-container {
    background: rgba(255, 255, 255, 0.2); /* Adjust the alpha value for transparency */
    border-radius: 10px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
  }