@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@import "tailwindcss";



/* HamburgerIcon.css */

@layer components {
  .line1 {
    @apply w-18 h-[0.15rem] rounded transition-all duration-300 ease-in-out;
  }
  .line2 {
    @apply w-18 h-[0.15rem] mt-2 rounded transition-all duration-300 ease-in-out;
  }
}

.hamburger-icon {
    width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger-icon.open .line1:first-child {
  transform: translateY(5px) rotate(45deg);
  width: 2.5rem;
  transition: all 0.3s linear;
}

.hamburger-icon.open .line2:last-child {
  transform: translateY(-5px) rotate(-45deg);
 width: 2.5rem;
  transition: all 0.3s linear;
}


.glass-container {
    background: rgba(255, 255, 255, 0.2); /* Adjust the alpha value for transparency */
    border-radius: 10px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
  }

  .font-cormorant {
    font-family: 'Cormorant Garamond', serif;
  }

  /* GlassButton.css */
.glass-button {
  position: absolute;
  background: #ffffff33;
  border-radius: 50%;
  border: 1px solid #ffffff4d;
  /* padding: 4.375rem 4.375rem; */
  color: black;
  pointer-events: none;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* for Safari */
  transition: background-color 0.3s ease;
}

.glass-button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.glass-button .text{
  position: absolute;
  user-select: none;
  pointer-events: none;
  animation: spin 7.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.glass-button .text span{
  position: absolute;
  top: -4.375rem;
  text-transform: capitalize;
  display:inline-block;
  transform-origin: 0 4.375rem;
}

@media screen and (max-width: 768px) {
  .glass-button .text{
    font-size: 0.7rem;
  }

  .glass-button .text span{
    position: absolute;
    top: -2.375rem;
    text-transform: capitalize;
    display:inline-block;
    transform-origin: 0 2.375rem;
  }
  
}